html,
body {
    background-color: lightgray;
}


/*este es el iniio*/

#inicio {
	width:400px;
	margin: 0 auto;
    text-align: center;
}
#logo{
	width:180px;
	height:180px;
}
#nombre{
	margin-bottom:20px;
}
#password{
	margin-bottom:20px;
}
#volver{
	float:right;
}
#cerrar{
	float:left;
}

/* esto es la noticia*/

#cabecera{
	height:50px;
}
#noticia{
	width:400px;
    text-align: center;	
    margin: 0 auto;
}
#btnnoticia{
	margin-top:20px;
}

@media screen and (max-width: 768px) {
	#logo{
	width:100px;
	height:100px;
	}
    #inicio {
		width:250px;
		top: 40%;
	}
    /*noticia*/
   #noticia{
		width:250px;	
	}
					
}

}